@charset "utf-8";

header{
    background-color: black;
    border-radius: 15px ;
    width: 800px;
    margin: auto;

}

h1{
    color: white;
    text-align: center;
    padding-top: 60px;
    
}

main{ 
    background-color: aquamarine;
    width: 600px;
    height: 600px;
    margin: auto;
    border-radius: 50%;
    
}

.caixa1{
    background-color: brown;
    width: 200px;
    height: 200px;
    box-shadow: 2px 2px 2px black;
   display: inline-block;
}

.caixa2{

    background-color: rgb(42, 75, 165);
    width: 200px;
    height: 200px;
    box-shadow: 2px 2px 2px black;
    display: inline-block;
    

}

div{
    margin: auto;
}

div:hover{
    background-color: black;
    animation: 2s ;
}


