@charset "utf-8";

header{
    background-color: black;
    border-radius: 15px ;
    max-width: 800px;
    min-width: 200px;
    margin: auto;

}

h1{
    color: white;
    text-align: center;
    padding-top: 60px;
    
}
h2 , p{
    color: rgba(255, 255, 255, 0.747);
    text-align: center;
    margin: 0px;
}

main{ 
    background-color: aquamarine;
    width: 600px;
    height: 600px;
    margin: auto;
    border-radius: 50%;
    
}

.caixa1{
    background-color: brown;
    width: 200px;
    height: 200px;
    box-shadow: 2px 2px 2px black;
   display: inline-block;
}

.caixa2{

    background-color: rgb(42, 75, 165);
    width: 200px;
    height: 200px;
    box-shadow: 2px 2px 2px black;
    display: inline-block;
    

}

.caixa3{

    background-color: rgb(65, 201, 24);
    width: 200px;
    height: 200px;
    box-shadow: 2px 2px 2px rgb(209, 41, 41);
    display: inline-block;
}

div{
    margin: auto;
}

div:hover{
    background-color: black;
    animation: 2s ;
}


